extends layout

block content
  h1= title
  p Welcome to #{title}
  
  input(id='inputActiveItem' type='hidden' value='')
  ul(id='ulAlphaList')
  div#divSearch
    label Search
    br
    input(id='txtSearch' type='text' value='')
  h1#hSchoolName Select A School to View Rates
  div#divList
    ul(id='ulList')
  div#divChart