extends layout

block content
  h1= title
  p Welcome to #{title}
  
  input(id='inputActiveItem' type='hidden' value='')
  ul(id='ulAlphaList')
  h1#hSchoolName Select A School to View Rates
  div#divList
    ul(id='ulList')
  div#divChart