
li:hover {
    cursor: pointer;
    color: orange;
    text-decoration: underline; 

}
#ulAlphaList li {
    list-style: none;
    display: inline;
    margin: 0px 10px;
    font-size: 125%; 
}

#hSchoolName {
    margin-left: 310px; 
    
}

#divChart {
    width: 700px;
    border: 1px solid black;
    margin-left: 310px;
    
    font: 10px sans-serif;
    /* background-color: steelblue; */
    background-color: #EEEEEE; 
    text-align: right;
    padding: 3px;
    color: white;
}

#divList {
    float: left; 
    width: 300px;
    height: 700px;
    overflow-y: scroll; 
}
#divList li {
    list-style: none; 
    padding: 2px; 
}

.active {
    color: orange;
    text-decoration: underline; 
}